@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", monospace;
}

body {
  background-color: #edfbff;
}

::-webkit-scrollbar {
  display: none;
}

.links {
  height: 0px;
  overflow: hidden;
  transition: height 0.3s ease-in;
}

.radial {
  background: rgba(0, 123, 198, 0.8);
  background: radial-gradient(
    circle,
    rgba(31, 139, 205, 1) 51%,
    rgba(58, 175, 250, 1) 100%
  );
}
@layer components {
  .title {
    @apply py-5 text-lg text-center sm:text-xl md:text-2xl lg:text-3xl;
  }
  .numbers {
    @apply w-20 h-20 sm:w-24 sm:h-24 md:w-28 md:h-28 mb-1 grid place-content-center bg-white shadow-default hover:scale-110 transition-all duration-200;
  }
  .subtitle {
    @apply px-2 text-sm text-center sm:text-base md:text-lg lg:text-xl;
  }
}

@media (min-width: 550px) {
  .links {
    height: fit-content !important;
  }
}
